img.image{
	height: 100px;
	width: 100px;
}


@keyframes line-item-highlight {
	0%{
		background: #3E5C72;
	}
	100%{
		background: none;
	}
}

tr.line-item-highlight {
	animation: line-item-highlight 1s;
}
