			<% product = line_item.product %>
			<% if line_item == @current_item %>
				<tr class="line-item-highlight">
			<% else %>
				<tr>
			<% end %>
			<td class="quantity"><%= line_item.quantity %></td>
			<td><%= product.title %></td>
			<td class="price"><%= number_to_currency(product.price) %></td>
			<td><%= button_to 'Delete', line_item_path(line_item.id), method: :delete, remote: true %></td>
		</tr>
